[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "concaveman"]
	path = concaveman
	url = https://github.com/joelgombin/concaveman
[submodule "qualvar"]
	path = qualvar
	url = https://github.com/joelgombin/qualvar
